{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block body %}

{% load static %}

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static '1.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static '2.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static '3.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container my-3">
    <h1 class="my-4 text-center">Book Catalogue</h1>
          <div class="row">
            {%for product in products%}

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
            <img src={{product.image}} class="d-block w-100" alt="...">
                
                <div class="card-body">
                  <p class="card-text"><b>{{product.name}}</b></p>
                  <p class="card-text">{{product.desc}}</p>
                  <p class="card-text">Price: {{product.price}}</p>
                  <p class="card-text">Selled by: {{product.uname}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a type="button" class="btn btn-sm btn-outline-secondary" href="/order/{{product.name}}">Place Order</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {%endfor%}
          </div>
  </div>
{% endblock body %}

